# Ignore Hearing Data #
###################
*.wav

# Ignore Vision Data #
###################
*.avi
*.mp4

# Ignore Closed Captions #
###################
*.vtt

# Ignore Python compiled code (byte code) #
###################
*.pyc

# Ignore Memory files #
###################
*.mem
*.tstp
*.pr

# Ignore pip directory #
###################
cerebrum.egg-info/
